/*!!ANTES DE FINALIZAR O CODIGO VER QUAIS COMENTARIOS SÃO REALMENTE NECESSÁRIOS, DEPOIS DE REVIZAR ESCAREVA OK E DATA!!*/
@charset "UTF-8";

/*Regra @charset caso haja problema com acentuação */

/*
 Notas:
 * tamanho médio:
 - 1 vw (View Width) = 2.17 vh (View Height);
 - 1 vw (View Width) = 13.32 px;
 - 1 vh (View Height) = 6.14 px (1366 * 768);

*/


/*CRIAR CONDIÇÕES PARA VISULIZAÇÃO EM JS OU TS*/
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&family=Concert+One&family=Nova+Mono&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playball&family=Share+Tech+Mono&family=Syne+Mono&display=swap');

:root {
    --cor1: #0a8c78;/*Cor perfil*/
    --cor2: #3C4544;/*Cor perfil*/
    --cor3: #161A19;/*Cor perfil*/
    --cor4: #8C7318;
    --cor5: #403201;
    --cor6: #06594D;/*Cor perfil*/
    --cor7: #A63000;
    --cor8: #591E06;
    /*Ver quais fontes são realmente necessárias*/
    --fonte1: 'Bahnschrift', sans-serif;
    --fonte2: 'Nova Mono', monospace;
    --fonte3: 'Share Tech Mono', monospace;
    --fonte4: 'Philosopher', sans-serif;
    --fonte5: 'Playball', cursive;
    --fonte6: 'Syne Mono', monospace;
}

.formato-16d9{
    --position-left-btn-seletor-1: 0.4vw;
    --position-left-btn-seletor-2: 16.8vw;
    --position-left-btn-seletor-3: 33.1vw;
    --position-left-btn-seletor-4: 49.5vw;
    --position-left-btn-seletor-5: 65.9vw;
    --position-left-btn-seletor-6: 82.3vw;
    --position-h2-btn-nav-bottom: 2.8vh;
    --position-img-codewars-left: 0vw;
    --position-section-RE-left: 33.1vw;
    --position-LR-img-repositorio: 4vw;

    --font-size-sections: 1.1em;
    --font-size-trabalhos: 1em;

    --text-align-email: left;

    --width-nav: 98.6vw;
    --width-header: 96.7vw;
    --width-navegador: 98.6vw;
    --width-main: 98.6vw;
    --width-footer: 98.6vw;
   
    --colunas-parte-2: 3;
    --colunas-img-destaques: 2;
}

.formato-4d3 {
    --position-left-btn-seletor-1: 0.4vw;
    --position-left-btn-seletor-2: 16.8vw;
    --position-left-btn-seletor-3: 33.1vw;
    --position-left-btn-seletor-4: 49.4vw;
    --position-left-btn-seletor-5: 65.6vw;
    --position-left-btn-seletor-6: 81.9vw;
    --position-h2-btn-nav-bottom: 2.5vh;
    --position-img-codewars-left: -10vw;
    --position-section-RE-left: 32.9vw;
    --position-LR-img-repositorio: 2vw;

    --font-size-sections: 1em;
    --font-size-trabalhos: 0.9em;

    --text-align-email: right;

    --width-nav: 98.2vw;
    --width-header: 96vw;
    --width-navegador: 98.2vw;
    --width-main: 98.2vw;
    --width-footer: 98.2vw;

    --colunas-parte-2: 2;
    --colunas-img-destaques: 1;
}

/*REVISADO - 18/06/22*/
body {
    color: black;
    background-color: var(--cor3);
    text-align: center;
    margin: 0vh;
}

/**Navegador**/ /*Revisado - 18/06/22*/
nav {
    position: absolute;
    top: 0vh;
    background-color: var(--cor1);
    font-family: var(--fonte3);
    height: 6vh;
    width: var(--width-nav);
    columns: 6;
}

nav > a > button {
    top: 0.5vh;
    background-color: var(--cor1);
    color: whitesmoke;
    font-family: var(--fonte6);
    text-shadow: 0.5px 0.5px 5px black;
    height: 5vh;
    width: 16vw;
    border: 0.4vh solid var(--cor6);
    border-radius: 1vh;
    box-shadow: 0px 0px 3px black;
}

nav > a > button:hover{
    box-shadow: 0px 0px 3px whitesmoke;
}

nav > a > button > h2 {
    position: relative;
    bottom: var(--position-h2-btn-nav-bottom);
}

.seletor-1 {
    position: absolute;
    left:var(--position-left-btn-seletor-1);
}

.seletor-2 {
    position: absolute;
    left: var(--position-left-btn-seletor-2);
}

.seletor-3 {
    position: absolute;
    left: var(--position-left-btn-seletor-3);
}

.seletor-4 {
    position: absolute;
    left: var(--position-left-btn-seletor-4);
}

.seletor-5 {
    position: absolute;
    left: var(--position-left-btn-seletor-5);
}

.seletor-6 {
    position: absolute;
    left: var(--position-left-btn-seletor-6);
}

/*Cabeçalho*/ /*Revisado 18/06/22*/
header {
    position: absolute;
    top: 6.2vh;
    background-color: whitesmoke;
    font-family: var(--fonte1);
    font-size: 0.9em;
    height: 45vh;
    width: var(--width-header);
    padding: 0.5vh 0.5vw;
    border: 1vh solid var(--cor1);
}

.introducao {
    text-align: left;
    columns: 3;
    height: 25vh;
    padding: 0.5vh 0.5vw;
}

.redes-contatos {
    position: relative;
    bottom: 3vh;
    color: var(--cor1);
    font-family: var(--fonte6);
    font-size: 1em;
    text-align: left;
    text-shadow: 0.5px 0.5px 0.5px black;
}

header > hr {
    position: relative;
    bottom: 4vh;
}

.redes {
    position: absolute;
    bottom: 0vh;
    text-align: left;
    height: 4vh;
    columns: 5;
}

.redes > div {
    width: 17.5vw;
}

header > div > div > a {
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

header > div > div > a:visited {
    color: black;
}

header > div > div > a:hover {
    color: black;
    text-shadow: 0.5px 0.5px 0.5px var(--cor2);
}

.codewars {
    position: relative;
    left: var(--position-img-codewars-left);
}

.codewars > a > img:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1vh;
    box-shadow: 0px 0px 5px black;
}

/*OLHAR - 06/22*/
#titulo-principal {
    color: var(--cor1);
    font-family: var(--fonte6);
    text-shadow: 0.5px 0.5px 0.5px black;
}

.foto-pessoal {
    position: relative;
    bottom: 5vh;
    text-align: center;
}

.sobre-mim {
    color: var(--cor1);
    font-family: var(--fonte6);
    font-size: 1em;
    text-align: left;
    text-shadow: 0.5px 0.5px 0.5px black;
}

/*Area de reação 2*/
.selecao-destaques {
    --background-selecao-destaques: var(--cor7);
    --background-selecao-rep-estudos: var(--cor3);
    --background-selecao-qualificacoes: var(--cor3);

    --height-selecao-destaques: 8vh;
    --height-selecao-rep-estudos: 6vh;
    --height-selecao-qualificacoes: 6vh;

    --bdr-selecao-destaques: 0.5vh solid var(--cor3);
    --bdr-selecao-rep-estudos: none;
    --bdr-selecao-qualificacoes: none;

    --bdr-rad-selecao-destaques: 1vh 1vh 0vh 0vh;
    --bdr-rad-selecao-rep-estudos: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-qualificacoes: 1vh 1vh 1vh 1vh;
}

.selecao-rep-estudos {
    --background-selecao-destaques: var(--cor3);
    --background-selecao-rep-estudos: var(--cor2);
    --background-selecao-qualificacoes: var(--cor3);

    --height-selecao-destaques: 6vh;
    --height-selecao-rep-estudos: 8vh;
    --height-selecao-qualificacoes: 6vh;

    --bdr-selecao-destaques: none;
    --bdr-selecao-rep-estudos: 0.5vh solid var(--cor3);
    --bdr-selecao-qualificacoes: none;

    --bdr-rad-selecao-destaques: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-rep-estudos: 1vh 1vh 0vh 0vh;
    --bdr-rad-selecao-qualificacoes: 1vh 1vh 1vh 1vh;
}

.selecao-qualificacoes {
    --background-selecao-destaques: var(--cor3);
    --background-selecao-rep-estudos: var(--cor3);
    --background-selecao-qualificacoes: var(--cor4);

    --height-selecao-destaques: 6vh;
    --height-selecao-rep-estudos: 6vh;
    --height-selecao-qualificacoes: 8vh;

    --bdr-selecao-destaques: none;
    --bdr-selecao-rep-estudos: none;
    --bdr-selecao-qualificacoes: 0.5vh solid var(--cor3);

    --bdr-rad-selecao-destaques: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-rep-estudos: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-qualificacoes: 1vh 1vh 0vh 0vh;
}

/*REVISADO - 18/06/22*/
main {
    position: absolute;
    top: 55.2vh;
    width: var(--width-main);
    background-color: var(--cor3);
}

/*Navegador de artigos*/
.navegador {
    position: absolute;
    background-color: var(--cor6);
    height: 7vh;
    width: var(--width-navegador);
    columns: 6;
}

.navegador > button {
    top: 0.5vh;
    font: 1.1em var(--fonte6);
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    width: 20vw;
}

.navegador > button > p {
    position: relative;
    bottom: 1.5vh;
}

.sele-1 {
    position: absolute;
    left: 0vw;
    background-color: var(--background-selecao-destaques);
    height: var(--height-selecao-destaques);
    border: var(--bdr-selecao-destaques);
    border-radius: var(--bdr-rad-selecao-destaques)
}

.sele-1:hover{
    background-color: var(--cor7);
}

.sele-2 {
    position: absolute;
    left: 40vw;
    background-color: var(--background-selecao-rep-estudos);
    height: var(--height-selecao-rep-estudos);
    border: var(--bdr-selecao-rep-estudos);
    border-radius: var(--bdr-rad-selecao-rep-estudos)
}

.sele-2:hover {
    background-color: var(--cor2);
}

.sele-3 {
    position: absolute;
    right: 0.1vw;
    background-color: var(--background-selecao-qualificacoes);
    height: var(--height-selecao-qualificacoes);
    border: var(--bdr-selecao-qualificacoes);
    border-radius: var(--bdr-rad-selecao-qualificacoes)
}

.sele-3:hover {
    background-color: var(--cor4);
}

section {
    position: absolute;
    top: 8vh;
    color: whitesmoke;
    font-family: var(--fonte6);
    font-size: var(--font-size-sections);
    text-align: center;
    text-shadow: 1px 1px 5px black;
    width: 31.4vw;
    height: 105vh;
    padding: 1vh 0.5vw;
}

/**Seção de Destaques:**/ /*REVISADO - 18/06/22*/
.destaques {
    position: absolute;
    left: 0.2vw;
    background-image: linear-gradient(to bottom, var(--cor7), var(--cor8));
}

.imgs-destaques {
    columns: 2;
}

.imgs-destaques > div > a > img {
    background-color: var(--cor2);
    border: 5px solid var(--cor8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;

}

.imgs-destaques > div >  a:hover > img {
    background-color: var(--cor2);
    border: 5px solid var(--cor3);
    border-radius: 10px;
    box-shadow: 0px 0px 10px whitesmoke;
}

.destaque-1 > a > img {
    position: absolute;
    top: 15vh;
    left: 2vw;
}

.destaque-2 > a > img {
    position: absolute;
    top: 60vh;
    left: 2vw;
}

.destaque-3 > a > img {
    position: absolute;
    top: 15vh;
    right: 2vw;
}

.destaque-4 > a > img {
    position: absolute;
    top: 60vh;
    right: 2vw;
}

/**Seção de Repositorio:**/ /*REVISADO - 18/06/22*/
.repositorio {
    position: absolute;
    left: var(--position-section-RE-left);
    background-color: var(--cor2);
}

.imgs-repositorio {
    columns: 2;
}

.imgs-repositorio > article > a > img {
    background-color: var(--cor2);
    border: 5px solid var(--cor6);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.imgs-repositorio > article >  a > img:hover {
    background-color: var(--cor2);
    border: 5px solid var(--cor3);
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

.html-css > a > img {
    position: absolute;
    top: 15vh;
    left: var(--position-LR-img-repositorio);
}

.js > a > img {
    position: absolute;
    top: 45.5vh;
    left: var(--position-LR-img-repositorio);
}

.python > a > img {
    position: absolute;
    top: 76vh;
    left: var(--position-LR-img-repositorio);
}

.csharp > a > img {
    position: absolute;
    top: 15vh;
    right: var(--position-LR-img-repositorio);
}

.sqlserver > a > img {
    position: absolute;
    top: 45.5vh;
    right: var(--position-LR-img-repositorio);
}

.react > a > img {
    position: absolute;
    top: 76vh;
    right: var(--position-LR-img-repositorio);
}

/**Seção de qualificações:**/ /*Revisado - 18/06/22*/
.qualificacoes {
    position: absolute;
    right: 0.2vw;
    background-color: var(--cor4);
}

.artigos-qualificacoes {
    columns: 1;
}

.artigos-qualificacoes > a > article > ul {
    text-align: left;
}

.artigos-qualificacoes > a > article {
    background-color: var(--cor4);
    font-size: 0.8em;
    color: black;
    text-align: center;
    text-shadow: none;
    width: 27vw;
    height: 22vh;
    padding: 0vh 1vw;
    border: 1vh solid var(--cor5);
    border-radius: 2vh;
    box-shadow: 0px 0px 10px black;
}

.artigos-qualificacoes > a > article:hover {
    background-color: var(--cor4);
    border: 5px solid var(--cor3);
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

.cursos-diplomas {
    position: absolute;
    top: 15vh;
    left: 1.5vw;
}

.certificados {
    position: absolute;
    top: 44vh;
    left: 1.5vw;
}

.trabalhos {
    position: absolute;
    top: 74vh;
    left: 1.5vw;
}

.trabalhos > ul {
    columns: 2;
    font-size: var(--font-size-trabalhos);
}

/*Texto Ancoras*/ /*Revisado - 18/06/22*/
a {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-shadow: 0.5px 0.5px 1px var(--cor2);
}

/**Rodapé**/ /*Revisado - 18/06/22*/
footer {
    position: absolute;
    top: 171.5vh;
    height: 5vh;
    width: var(--width-footer);
    background-color: var(--cor1);
    font-family: var(--fonte2);
    padding: 1vh 0vw;
}