/*!!ANTES DE FINALIZAR O CODIGO VER QUAIS COMENTARIOS SÃO REALMENTE NECESSÁRIOS, DEPOIS DE REVIZAR ESCAREVA OK E DATA!!*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&family=Concert+One&family=Nova+Mono&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playball&family=Share+Tech+Mono&family=Syne+Mono&display=swap');

 :root {
    --cor1: #0a8c78;/*Cor perfil*/
    --cor2: #3C4544;/*Cor perfil*/
    --cor3: #161A19;/*Cor perfil*/
    --cor4: #8C7318;
    --cor5: #403201;
    --cor6: #06594D;/*Cor perfil*/
    --cor7: #A63000;
    --cor8: #591E06;
    --corHTML: #FE4B20;
    --corCSS: #0071C1;
    --corJS: #F7DF1E;
    --corCSharp: #67217A;
    /*Ver quais fontes são realmente necessárias*/
    --fonte1: 'Bahnschrift', sans-serif;
    --fonte2: 'Nova Mono', monospace;
    --fonte3: 'Share Tech Mono', monospace;
    --fonte4: 'Philosopher', sans-serif;
    --fonte5: 'Playball', cursive;
    --fonte6: 'Syne Mono', monospace;
}

body {
    color: black;
    background-color: var(--cor3);
    text-align: center;
    width: 99vw;
    height: 188vh;
    padding: 0px;
    margin: 0vh 0vw;
}

header {
    position: absolute;
    top: 0vh;
    left: 0vw;
    background-color: whitesmoke;
    font-family: var(--fonte1);
    font-size: 1em;
    height: 45vh;
    width: calc(90vw + 6.8vw);/*Test de calculo*/
    margin: 0vh 0vw;
    padding:  0.5vh 0.5vw;
    border: 1vh solid var(--cor1);
}

/*OLHAR - 06/22*/
#titulo-principal {
    color: var(--cor1);
    font-family: var(--fonte6);
    text-shadow: 0.5px 0.5px 0.5px black;
}

.foto-pessoal {
    position: relative;
    bottom: 5vh;
    text-align: center;
}

.sobre {
    color: var(--cor1);
    font-family: var(--fonte6);
    font-size: 1em;
    text-align: left;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.introducao {
    text-align: left;
    columns: 3;
    padding: 0.5vh 0.5vw;
    
}

.redes-contatos {
    position: relative;
    bottom: 3vh;
    color: var(--cor1);
    font-family: var(--fonte6);
    font-size: 1em;
    text-align: left;
    text-shadow: 0.5px 0.5px 0.5px black;
}

header > hr {
    position: relative;
    bottom: 4vh;
}

.redes {
    position: absolute;
    bottom: 0vh;
    text-align: left;
    height: 4vh;
    columns: 5;
}

.redes > div {
    width: 17.5vw;
}

header > div > div > a {
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

header > div > div > a:visited {
    color: black;
}

header > div > div > a:hover {
    color: black;
    text-shadow: 0.5px 0.5px 0.5px var(--cor2);
}

.code-wars > a {
    color: whitesmoke;
}

.code-wars > a:visited {
    color: whitesmoke;
}

.code-wars > a:hover {
    color: whitesmoke;
    text-shadow: none;
}

.code-wars > a > img:hover {
    background-color: var(--cor3);
}

nav {
    position: absolute;
    top: 49vh;
    background-color: var(--cor6);
    height: 7vh;
    width: 98.8vw;
    columns: 6;
}

nav > div > button {
    background-color: var(--cor3);
    font: 1.1em var(--fonte1);
    color: white;
    font-weight: bold;
    height: 6vh;
    width: 15.8vw;
    text-align: center;
    border: none;
    border-radius: 1vh;
}

nav > div > button > p {
    position: relative;
    bottom: 1.5vh;
}

nav > div > button > img {
    position: absolute;
    top: 0.8vh;
    left: 1vw;
}

.sele-1 {
    position: absolute;
    top: 0.5vh;
    left: 0.5vw;
}

.sele-1 > p {
    position: relative;
    left: 1vw;
}

.sele-2 {
    position: absolute;
    top: 0.5vh;
    left: 16.9vw;
}

.sele-3 {
    position: absolute;
    top: 0.5vh;
    left: 33.3vw;
}

.sele-4 {
    position: absolute;
    top: 0.5vh;
    left: 49.7vw;
}

.sele-5 {
    position: absolute;
    top: 0.5vh;
    left: 66.1vw;
}

.sele-6 {
    position: absolute;
    top: 0.5vh;
    left: 82.5vw;
}

main {
    position: absolute;
    top: 57vh;
    left: 0vw;
    height: 240vh;
    width: 98.8vw;
    background-color: var(--cor3);
}

/**Seção de Repositorio:**//*REVISADO - 06/22*/
section.repositorio {
    position: absolute;
    top: 0vh;
    left: 0.5vw;
    color: azure;
    font-family: var(--fonte6);
    font-size: 1.2em;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    background-color: var(--cor2);
    width: 96.8vw;
    height: 240vh;
    padding: 1vh 0.5vw;
}

div.repositorio {
    text-align: left;
}

/*Visualização de seleção*/
div.repositorio > article > a:visited > img {
    background-color: var(--cor2);
    box-shadow: 0px 0px 10px white;
    border: 5px solid var(--cor6);
    border-radius: 10px;
}

div.repositorio > article >  a:hover > img {
    background-color: var(--cor2);
    box-shadow: 0px 0px 10px white;
    border: 5px solid var(--cor3);
    border-radius: 10px;
}

div.html {
    position: absolute;
    top: 5vh;
    left: 2vw;
    height: 140vh;
    width: 45.4vw;
}
div.css {
    position: absolute;
    top: 150vh;
    left: 2vw;
    height: 60vh;
    width: 45.4vw
}

div.texto-html {
    position: absolute;
    top: 16vh;
    right: 2vw;
    background-color: whitesmoke;
    font-family: var(--fonte1);
    color: black;
    text-shadow: none;
    height: 130vh;
    width: 43.4vw;
    padding: 2vh 1vw;
    border: 0.5vh solid var(--corHTML);
    border-radius: 2vh 1vw;
}

div.texto-css {
    position: absolute;
    top: 161vh;
    right: 2vw;
    background-color: whitesmoke;
    font-family: var(--fonte1);
    color: black;
    text-shadow: none;
    height: 60vh;
    width: 43.4vw;
    padding: 2vh 1vw;
    border: 0.5vh solid var(--corCSS);
    border-radius: 2vh 1vw;
}

div.html > ol > ul > li > a{
    color: var(--corHTML);
}

div.html > ol > ul > li > a:hover{
    color: black;
}

div.html > ol > ul > li > a:visited {
    color: var(--cor3);
}

div.html > ol > ul > li > a:visited:hover {
    color: black;
}

div.css > ol > ul > li > a{
    color: var(--corCSS);
}

div.css > ol > ul > li > a:hover{
    color: black;
}

div.css > ol > ul > li > a:visited {
    color: var(--cor3);
}

div.css > ol > ul > li > a:visited:hover {
    color: black;
}

article.js > a > img {
    position: absolute;
    top: 45.5vh;
    left: 4vw;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px black;
    border: 5px solid var(--cor6);
    border-radius: 10px;
}

article.python > a > img {
    position: absolute;
    top: 76vh;
    left: 4vw;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px black;
    border: 5px solid var(--cor6);
    border-radius: 10px;
}

article.csharp > a > img {
    position: absolute;
    top: 15vh;
    right: 4vw;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px black;
    border: 5px solid var(--cor6);
    border-radius: 10px;
}

article.sqlserver > a > img {
    position: absolute;
    top: 45.5vh;
    right: 4vw;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px black;
    border: 5px solid var(--cor6);
    border-radius: 10px;
}

article.react > a > img {
    position: absolute;
    top: 76vh;
    right: 4vw;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px black;
    border: 5px solid var(--cor6);
    border-radius: 10px;
}

footer {
    position: absolute;
    top: 300vh;
    height: 5vh;
    width: 98.8vw;
    background-color: var(--cor1);
    font-family: var(--fonte2);
    padding: 1vh 0vw;
    margin: 0vh 0vw;
}

footer > a {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

footer > a:visited {
    color: black;
}

footer > a:hover {
    color: black;
    text-shadow: 0.5px 0.5px 0.5px var(--cor2);
}
