/*!!ANTES DE FINALIZAR O CODIGO VER QUAIS COMENTARIOS SÃO REALMENTE NECESSÁRIOS, DEPOIS DE REVIZAR ESCAREVA OK E DATA!!*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&family=Concert+One&family=Nova+Mono&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playball&family=Share+Tech+Mono&family=Syne+Mono&display=swap');

:root {
    --cor1: #0a8c78;/*Cor perfil*/
    --cor2: #3C4544;/*Cor perfil*/
    --cor3: #161A19;/*Cor perfil*/
    --cor4: #8C7318;
    --cor5: #403201;
    --cor6: #06594D;/*Cor perfil*/
    --cor7: #A63000;
    --cor8: #591E06;
    --corHTML: #FE4B20;
    --corCSS: #0071C1;
    --corJS: #F7DF1E;
    --corCSharp: #67217A;
    /*Ver quais fontes são realmente necessárias*/
    --fonte1: 'Bahnschrift', sans-serif;
    --fonte2: 'Nova Mono', monospace;
    --fonte3: 'Share Tech Mono', monospace;
    --fonte4: 'Philosopher', sans-serif;
    --fonte5: 'Playball', cursive;
    --fonte6: 'Syne Mono', monospace;
}

/*Area de reação 1*/
#formato-16d9{
    --position-left-btn-seletor-1: 0.4vw;
    --position-left-btn-seletor-2: 16.8vw;
    --position-left-btn-seletor-3: 33.1vw;
    --position-left-btn-seletor-4: 49.5vw;
    --position-left-btn-seletor-5: 65.9vw;
    --position-left-btn-seletor-6: 82.3vw;
    --position-h2-btn-nav-bottom: 2.8vh;
    --position-img-codewars-left: 0vw;
    --position-btn-seletor-sessao1-left: 0.15vw;
    --position-btn-seletor-sessao6-left: 82.65vw;
    --position-p-btn-seletor-sessao1-left: 1vw;
    --position-div-css: 150vh;
    --position-div-texto-css: 161vh;

    --width-nav: 98.6vw;
    --width-header: 96.7vw;
    --width-navegador: 98.6vw;
    --width-section: 96.8vw;
    --width-footer: 98.6vw;
}

#formato-4d3 {
    --position-left-btn-seletor-1: 0.4vw;
    --position-left-btn-seletor-2: 16.8vw;
    --position-left-btn-seletor-3: 33.1vw;
    --position-left-btn-seletor-4: 49.4vw;
    --position-left-btn-seletor-5: 65.6vw;
    --position-left-btn-seletor-6: 81.9vw;
    --position-h2-btn-nav-bottom: 2.5vh;
    --position-img-codewars-left: -10vw;
    --position-btn-seletor-sessao1-left: 0.1vw;
    --position-btn-seletor-sessao6-left: 82.3vw;
    --position-p-btn-seletor-sessao1-left: 2.5vw;
    --position-div-css: 155vh;
    --position-div-texto-css: 166vh;

    --width-nav: 98.2vw;
    --width-header: 96vw;
    --width-navegador: 98.2vw;
    --width-section: 96.4vw;
    --width-footer: 98.2vw;
}

body {
    color: black;
    background-color: var(--cor3);
    text-align: center;
    margin: 0vh;
}

/**Navegador**/ /*Revisado - 18/06/22*/
.top {
    position: absolute;
    top: 0vh;
    background-color: var(--cor1);
    font-family: var(--fonte3);
    height: 6vh;
    width: var(--width-nav);
    columns: 6;
}

.top > a > button {
    top: 0.5vh;
    background-color: var(--cor1);
    color: whitesmoke;
    font-family: var(--fonte6);
    text-shadow: 0.5px 0.5px 5px black;
    height: 5vh;
    width: 16vw;
    border: 0.4vh solid var(--cor6);
    border-radius: 1vh;
    box-shadow: 0px 0px 3px black;
}

.top > a > button:hover{
    box-shadow: 0px 0px 3px whitesmoke;
}

.top > a > button > h2 {
    position: relative;
    bottom: var(--position-h2-btn-nav-bottom);
}

.seletor-1 {
    position: absolute;
    left:var(--position-left-btn-seletor-1);
}

.seletor-2 {
    position: absolute;
    left: var(--position-left-btn-seletor-2);
}

.seletor-3 {
    position: absolute;
    left: var(--position-left-btn-seletor-3);
}

.seletor-4 {
    position: absolute;
    left: var(--position-left-btn-seletor-4);
}

.seletor-5 {
    position: absolute;
    left: var(--position-left-btn-seletor-5);
}

.seletor-6 {
    position: absolute;
    left: var(--position-left-btn-seletor-6);
    top: 0.5vh;
    background-color: var(--cor1);
    color: whitesmoke;
    font-family: var(--fonte6);
    text-shadow: 0.5px 0.5px 5px black;
    height: 5vh;
    width: 16vw;
    border: 0.4vh solid var(--cor6);
    border-radius: 1vh;
    box-shadow: 0px 0px 3px black;
}

.seletor-6 > p {
    position: relative;
    bottom: 1.75vh;
    right: 0.5vw;
}

.seletor-6 > p > input {
    width: 10vw;
}

/*Cabeçalho*/ /*Revisado 18/06/22*/
header {
    position: absolute;
    top: 6.2vh;
    background-color: whitesmoke;
    font-family: var(--fonte1);
    font-size: 0.9em;
    height: 45vh;
    width: var(--width-header);
    padding: 0.5vh 0.5vw;
    border: 1vh solid var(--cor1);
}

.introducao {
    text-align: left;
    columns: 3;
    height: 25vh;
    padding: 0.5vh 0.5vw;
}

.redes-contatos {
    position: relative;
    bottom: 3vh;
    color: var(--cor1);
    font-family: var(--fonte6);
    font-size: 1em;
    text-align: left;
    text-shadow: 0.5px 0.5px 0.5px black;
}

header > hr {
    position: relative;
    bottom: 4vh;
}

.redes {
    position: absolute;
    bottom: 0vh;
    text-align: left;
    height: 4vh;
    columns: 5;
}

.redes > div {
    width: 17.5vw;
}

header > div > div > a {
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

header > div > div > a:visited {
    color: black;
}

header > div > div > a:hover {
    color: black;
    text-shadow: 0.5px 0.5px 0.5px var(--cor2);
}

.codewars {
    position: relative;
    left: var(--position-img-codewars-left);
}

.codewars > a > img:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1vh;
    box-shadow: 0px 0px 5px black;
}

/*OLHAR - 06/22*/
#titulo-principal {
    color: var(--cor1);
    font-family: var(--fonte6);
    text-shadow: 0.5px 0.5px 0.5px black;
}

.foto-pessoal {
    position: relative;
    bottom: 5vh;
    text-align: center;
}

.sobre {
    color: var(--cor1);
    font-family: var(--fonte6);
    font-size: 1em;
    text-align: left;
    text-shadow: 0.5px 0.5px 0.5px black;
}


/*Area de reação 2*/
.selecao-section-1 {
    --background-seletor-sessao1: var(--cor2);
    --background-seletor-sessao2: var(--cor3);
    --background-seletor-sessao3: var(--cor3);
    --background-seletor-sessao4: var(--cor3);
    --background-seletor-sessao5: var(--cor3);
    --background-seletor-sessao6: var(--cor3);

    --height-seletor-sessao1: 8vh;
    --height-seletor-sessao2: 6vh;
    --height-seletor-sessao3: 6vh;
    --height-seletor-sessao4: 6vh;
    --height-seletor-sessao5: 6vh;
    --height-seletor-sessao6: 6vh;

    --bdr-seletor-sessao1: 0.5vh solid var(--cor3);
    --bdr-seletor-sessao2: none;
    --bdr-seletor-sessao3: none;
    --bdr-seletor-sessao4: none;
    --bdr-seletor-sessao5: none;
    --bdr-seletor-sessao6: none;

    --bdr-rad-seletor-sessao1: 1vh 1vh 0vh 0vh;
    --bdr-rad-seletor-sessao2: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao3: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao4: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao5: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao6: 1vh 1vh 1vh 1vh;

    /*Área Section*/
    --display-sessao-1: block;
    --display-sessao-2: none;
    --display-sessao-3: none;
    --display-sessao-4: none;
    --display-sessao-5: none;
    --display-sessao-6: none;
}

.selecao-section-2 {
    --background-seletor-sessao1: var(--cor3);
    --background-seletor-sessao2: var(--cor2);
    --background-seletor-sessao3: var(--cor3);
    --background-seletor-sessao4: var(--cor3);
    --background-seletor-sessao5: var(--cor3);
    --background-seletor-sessao6: var(--cor3);

    --height-seletor-sessao1: 6vh;
    --height-seletor-sessao2: 8vh;
    --height-seletor-sessao3: 6vh;
    --height-seletor-sessao4: 6vh;
    --height-seletor-sessao5: 6vh;
    --height-seletor-sessao6: 6vh;

    --bdr-seletor-sessao1: none;
    --bdr-seletor-sessao2: 0.5vh solid var(--cor3);
    --bdr-seletor-sessao3: none;
    --bdr-seletor-sessao4: none;
    --bdr-seletor-sessao5: none;
    --bdr-seletor-sessao6: none;

    --bdr-rad-seletor-sessao1: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao2: 1vh 1vh 0vh 0vh;
    --bdr-rad-seletor-sessao3: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao4: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao5: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao6: 1vh 1vh 1vh 1vh;

    /*Área Section*/
    --display-sessao-1: none;
    --display-sessao-2: block;
    --display-sessao-3: none;
    --display-sessao-4: none;
    --display-sessao-5: none;
    --display-sessao-6: none;
}

.selecao-section-3 {
    --background-seletor-sessao1: var(--cor3);
    --background-seletor-sessao2: var(--cor3);
    --background-seletor-sessao3: var(--cor2);
    --background-seletor-sessao4: var(--cor3);
    --background-seletor-sessao5: var(--cor3);
    --background-seletor-sessao6: var(--cor3);

    --height-seletor-sessao1: 6vh;
    --height-seletor-sessao2: 6vh;
    --height-seletor-sessao3: 8vh;
    --height-seletor-sessao4: 6vh;
    --height-seletor-sessao5: 6vh;
    --height-seletor-sessao6: 6vh;

    --bdr-seletor-sessao1: none;
    --bdr-seletor-sessao2: none;
    --bdr-seletor-sessao3: 0.5vh solid var(--cor3);
    --bdr-seletor-sessao4: none;
    --bdr-seletor-sessao5: none;
    --bdr-seletor-sessao6: none;

    --bdr-rad-seletor-sessao1: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao2: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao3: 1vh 1vh 0vh 0vh;
    --bdr-rad-seletor-sessao4: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao5: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao6: 1vh 1vh 1vh 1vh;

    /*Área Section*/
    --display-sessao-1: none;
    --display-sessao-2: none;
    --display-sessao-3: block;
    --display-sessao-4: none;
    --display-sessao-5: none;
    --display-sessao-6: none;
}

.selecao-section-4 {
    --background-seletor-sessao1: var(--cor3);
    --background-seletor-sessao2: var(--cor3);
    --background-seletor-sessao3: var(--cor3);
    --background-seletor-sessao4: var(--cor2);
    --background-seletor-sessao5: var(--cor3);
    --background-seletor-sessao6: var(--cor3);

    --height-seletor-sessao1: 6vh;
    --height-seletor-sessao2: 6vh;
    --height-seletor-sessao3: 6vh;
    --height-seletor-sessao4: 8vh;
    --height-seletor-sessao5: 6vh;
    --height-seletor-sessao6: 6vh;

    --bdr-seletor-sessao1: none;
    --bdr-seletor-sessao2: none;
    --bdr-seletor-sessao3: none;
    --bdr-seletor-sessao4: 0.5vh solid var(--cor3);
    --bdr-seletor-sessao5: none;
    --bdr-seletor-sessao6: none;

    --bdr-rad-seletor-sessao1: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao2: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao3: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao4: 1vh 1vh 0vh 0vh;
    --bdr-rad-seletor-sessao5: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao6: 1vh 1vh 1vh 1vh;

    /*Área Section*/
    --display-sessao-1: none;
    --display-sessao-2: none;
    --display-sessao-3: none;
    --display-sessao-4: block;
    --display-sessao-5: none;
    --display-sessao-6: none;
}

.selecao-section-5 {
    --background-seletor-sessao1: var(--cor3);
    --background-seletor-sessao2: var(--cor3);
    --background-seletor-sessao3: var(--cor3);
    --background-seletor-sessao4: var(--cor3);
    --background-seletor-sessao5: var(--cor2);
    --background-seletor-sessao6: var(--cor3);

    --height-seletor-sessao1: 6vh;
    --height-seletor-sessao2: 6vh;
    --height-seletor-sessao3: 6vh;
    --height-seletor-sessao4: 6vh;
    --height-seletor-sessao5: 8vh;
    --height-seletor-sessao6: 6vh;

    --bdr-seletor-sessao1: none;
    --bdr-seletor-sessao2: none;
    --bdr-seletor-sessao3: none;
    --bdr-seletor-sessao4: none;
    --bdr-seletor-sessao5: 0.5vh solid var(--cor3);
    --bdr-seletor-sessao6: none;

    --bdr-rad-seletor-sessao1: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao2: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao3: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao4: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao5: 1vh 1vh 0vh 0vh;
    --bdr-rad-seletor-sessao6: 1vh 1vh 1vh 1vh;

    /*Área Section*/
    --display-sessao-1: none;
    --display-sessao-2: none;
    --display-sessao-3: none;
    --display-sessao-4: none;
    --display-sessao-5: block;
    --display-sessao-6: none;
}

.selecao-section-6 {
    --background-seletor-sessao1: var(--cor3);
    --background-seletor-sessao2: var(--cor3);
    --background-seletor-sessao3: var(--cor3);
    --background-seletor-sessao4: var(--cor3);
    --background-seletor-sessao5: var(--cor3);
    --background-seletor-sessao6: var(--cor2);

    --height-seletor-sessao1: 6vh;
    --height-seletor-sessao2: 6vh;
    --height-seletor-sessao3: 6vh;
    --height-seletor-sessao4: 6vh;
    --height-seletor-sessao5: 6vh;
    --height-seletor-sessao6: 8vh;

    --bdr-seletor-sessao1: none;
    --bdr-seletor-sessao2: none;
    --bdr-seletor-sessao3: none;
    --bdr-seletor-sessao4: none;
    --bdr-seletor-sessao5: none;
    --bdr-seletor-sessao6: 0.5vh solid var(--cor3);

    --bdr-rad-seletor-sessao1: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao2: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao3: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao4: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao5: 1vh 1vh 1vh 1vh;
    --bdr-rad-seletor-sessao6: 1vh 1vh 0vh 0vh;

    /*Área Section*/
    --display-sessao-1: none;
    --display-sessao-2: none;
    --display-sessao-3: none;
    --display-sessao-4: none;
    --display-sessao-5: none;
    --display-sessao-6: block;
}

main {
    position: absolute;
    top: 55.2vh;
    background-color: var(--cor3);
}

/*Navegador de artigos*/
.navegador-1 {
    position: absolute;
    background-color: var(--cor6);
    height: 7vh;
    width: var(--width-navegador);
    columns: 6;
}

.navegador-1 > button {
    top: 0.5vh;
    font: 1.1em var(--fonte1);
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    width: 15.8vw;
}

.navegador-1 > button > p {
    position: relative;
    bottom: 1.5vh;
}

.navegador-1 > button > img {
    position: absolute;
    top: 0.8vh;
    left: 1vw;
}

.seletor-1n1 {
    position: absolute;
    left: var(--position-btn-seletor-sessao1-left);
    background-color: var(--background-seletor-sessao1);
    height: var(--height-seletor-sessao1);
    border: var(--bdr-seletor-sessao1);
    border-radius: var(--bdr-rad-seletor-sessao1);
}

.seletor-1n1 > p {
    position: relative;
    left: var(--position-p-btn-seletor-sessao1-left);
}

.seletor-1n1:hover {
    background-color: var(--cor2);
}

.seletor-2n1 {
    position: absolute;
    left: 16.6vw;
    background-color: var(--background-seletor-sessao2);
    height: var(--height-seletor-sessao2);
    border: var(--bdr-seletor-sessao2);
    border-radius: var(--bdr-rad-seletor-sessao2);
}

.seletor-2n1:hover {
    background-color: var(--cor2);
}

.seletor-3n1 {
    position: absolute;
    left: 33vw;
    background-color: var(--background-seletor-sessao3);
    height: var(--height-seletor-sessao3);
    border: var(--bdr-seletor-sessao3);
    border-radius: var(--bdr-rad-seletor-sessao3);
}

.seletor-3n1:hover {
    background-color: var(--cor2);
}

.seletor-4n1 {
    position: absolute;
    left: 49.5vw;
    background-color: var(--background-seletor-sessao4);
    height: var(--height-seletor-sessao4);
    border: var(--bdr-seletor-sessao4);
    border-radius: var(--bdr-rad-seletor-sessao4);
}

.seletor-4n1:hover {
    background-color: var(--cor2);
}

.seletor-5n1 {
    position: absolute;
    left: 66vw;
    background-color: var(--background-seletor-sessao5);
    height: var(--height-seletor-sessao5);
    border: var(--bdr-seletor-sessao5);
    border-radius: var(--bdr-rad-seletor-sessao5);
}

.seletor-5n1:hover {
    background-color: var(--cor2);
}

.seletor-6n1 {
    position: absolute;
    left: var(--position-btn-seletor-sessao6-left);
    background-color: var(--background-seletor-sessao6);
    height: var(--height-seletor-sessao6);
    border: var(--bdr-seletor-sessao6);
    border-radius: var(--bdr-rad-seletor-sessao6);
}

.seletor-6n1:hover {
    background-color: var(--cor2);
}

section {
    position: absolute;
    top: 8vh;
    left: 0.4vw;
    color: whitesmoke;
    font-family: var(--fonte6);
    font-size: 1.2em;
    text-align: left;
    text-shadow: 1px 1px 5px black;
    background-color: var(--cor2);
    height: 240vh;
    width: var(--width-section);
    padding: 1vh 0.5vw;
}

.sessao-1 {
    display: var(--display-sessao-1);
}

.html {
    position: absolute;
    top: 3vh;
    left: 2vw;
    z-index: 1;
    height: 140vh;
    width: 45.4vw;
}

.css {
    position: absolute;
    top: var(--position-div-css);
    left: 2vw;
    z-index: 1;
    height: 60vh;
    width: 45.4vw
}

.texto-html {
    position: absolute;
    top: 13vh;
    right: 2vw;
    z-index: 1;
    background-color: whitesmoke;
    font-family: var(--fonte1);
    color: black;
    text-shadow: none;
    height: 130vh;
    width: 43.4vw;
    padding: 2vh 1vw;
    border: 0.5vh solid var(--corHTML);
    border-radius: 2vh 1vw;
}

.texto-css {
    position: absolute;
    top: var(--position-div-texto-css);
    right: 2vw;
    z-index: 1;
    background-color: whitesmoke;
    font-family: var(--fonte1);
    color: black;
    text-shadow: none;
    height: 60vh;
    width: 43.4vw;
    padding: 2vh 1vw;
    border: 0.5vh solid var(--corCSS);
    border-radius: 2vh 1vw;
}

.html > ol > ul > li > a{
    color: var(--corHTML);
}

.html > ol > ul > li > a:hover{
    color: black;
}

.html > ol > ul > li > a:visited {
    color: var(--cor3);
}

.html > ol > ul > li > a:visited:hover {
    color: black;
}

.css > ol > ul > li > a{
    color: var(--corCSS);
}

.css > ol > ul > li > a:hover{
    color: black;
}

.css > ol > ul > li > a:visited {
    color: var(--cor3);
}

.css > ol > ul > li > a:visited:hover {
    color: black;
}

.sessao-2 {
    display: var(--display-sessao-2);
}

.sessao-3 {
    display: var(--display-sessao-3);
}

#csharp > article {
    position: absolute;
    top: 15vh;
    left: 2vw;
    z-index: 12;
    background-color: whitesmoke;
    color: black;
    font-family: var(--fonte1);
    font-size: medium;
    text-shadow: none;
    height: 220vh;
    width: 92.5vw;
    padding: 1vh;
    border-radius: 1vh;
    outline: 0.5vh solid var(--corCSharp);
    overflow-y: scroll;
    box-shadow: 0vh 0vh 2vh black;
}

#csharp > article > ol > h4 {
    font-family: var(--fonte6);
    font-size: large;
}

h5 {
    font-family: var(--fonte6);
    font-size: large;
}

h6 {
    font-family: var(--fonte6);
    font-size: large;
}

#csharp > article > ol > div {
    margin-right: 2vw;
}

.navegador-3 {
    position: absolute;
    top: 4vh;
    left: 2vw;
    background-color: var(--cor3);
    height: 11vh;
    width: 93.5vw;
    border-radius: 1vh 1vh 0vh 0vh;
    outline: 0.5vh solid var(--cor3);
    box-shadow: 0vh 0vh 2vh black;
}

.navegador-3 > button {
    position: absolute;
    top: 0vh;
    background-color: var(--corCSharp);
    font: var(--fonte6) 1.2em;
    color: whitesmoke;
    height: 11vh;
    width: 12vw;
    border: none;
    border-radius: 1vh 1vh 0vh 0vh;
    box-shadow: 0vh 0vh 2vh black;
}

.seletor-1n3 {
    position: absolute;
    left: 0vw;
    z-index: 10;
}

.seletor-1n3:hover {
    z-index: 11;
    border: none;
}

.seletor-2n3 {
    position: absolute;
    left: 9.1vw;
    z-index: 9;
}

.seletor-2n3:hover {
    z-index: 11;
}

.seletor-2n3 > p {
    position: relative;
    bottom: 1.5vh;
}

.seletor-3n3 {
    position: absolute;
    left: 18.15vw;
    z-index: 8;
}

.seletor-3n3:hover {
    z-index: 11;
}

.seletor-4n3 {
    position: absolute;
    left: 27.2vw;
    z-index: 7;
}

.seletor-4n3:hover {
    z-index: 11;
}

.seletor-5n3 {
    position: absolute;
    left: 36.25vw;
    z-index: 6;
}

.seletor-5n3:hover {
    z-index: 11;
}

.seletor-6n3 {
    position: absolute;
    left: 45.3vw;
    z-index: 5;
}

.seletor-6n3:hover {
    z-index: 11;
}

.seletor-7n3 {
    position: absolute;
    left: 54.35vw;
    z-index: 4;
}

.seletor-7n3:hover {
    z-index: 11;
}

.seletor-8n3 {
    position: absolute;
    left: 63.4vw;
    z-index: 3;
}

.seletor-8n3:hover {
    z-index: 11;
}

.seletor-9n3 {
    position: absolute;
    left: 72.45vw;
    z-index: 2;
}

.seletor-9n3:hover {
    z-index: 11;
}

.seletor-10n3 {
    position: absolute;
    left: 81.5vw;
    z-index: 1;
}

.seletor-10n3:hover {
    z-index: 11;
}

.seletor-10n3 > p {
    position: relative;
    bottom: 1.5vh;
}

.texto-gitbash {
    background-color: var(--cor3);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: green;
    padding: 2vh;
    border-radius: 2vh;
}

.texto-csharp {
    background-color: var(--cor3);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 2vh;
    border-radius: 2vh;
}

.texto-csharp > pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.csharp-var {
    color: #f80053;
}

.csharp-nome {
    color: whitesmoke;
}

.csharp-comment {
    color: grey;
}

.csharp-namespace {
    color: greenyellow;
}

.csharp-numero {
    color: rebeccapurple;
}

.csharp-string {
    color: darkgoldenrod;
}

.csharp-bar-1 {
    color: gold;
}

.csharp-bar-2 {
    color: rebeccapurple;
}

.csharp-bar-3 {
    color: royalblue;
}

.selecao-1s3 {
    display: none;
}

.selecao-2s3 {
    display: block;
}

.selecao-3s3 {
    display: none;
}

.selecao-4s3 {
    display: none;
}

.selecao-5s3 {
    display: none;
}

.selecao-6s3 {
    display: none;
}

.selecao-7s3 {
    display: none;
}

.selecao-8s3 {
    display: none;
}

.selecao-9s3 {
    display: none;
}

.selecao-10s3 {
    display: none;
}

.sessao-4 {
    display: var(--display-sessao-4);
}

.sessao-5 {
    display: var(--display-sessao-5);
}

.sessao-6 {
    display: var(--display-sessao-6);
}

footer {
    position: absolute;
    top: 306.2vh;
    left: 0vw;
    height: 5vh;
    width: var(--width-footer);
    background-color: var(--cor1);
    font-family: var(--fonte2);
    padding: 1vh 0vw;
    margin: 0vh 0vw;
}

footer > a {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

footer > a:visited {
    color: black;
}

footer > a:hover {
    color: black;
    text-shadow: 0.5px 0.5px 0.5px var(--cor2);
}
