/*!!ANTES DE FINALIZAR O CODIGO VER QUAIS COMENTARIOS SÃO REALMENTE NECESSÁRIOS, DEPOIS DE REVIZAR ESCAREVA OK E DATA!!*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&family=Concert+One&family=Nova+Mono&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playball&family=Share+Tech+Mono&family=Syne+Mono&display=swap');

:root {
    --cor1: #0a8c78;/*Cor perfil*/
    --cor2: #3C4544;/*Cor perfil*/
    --cor3: #161A19;/*Cor perfil*/
    --cor4: #8C7318;
    --cor5: #403201;
    --cor6: #06594D;/*Cor perfil*/
    --cor7: #A63000;
    --cor8: #591E06;
    --corHTML: #FE4B20;
    --corCSS: #0071C1;
    --corJS: #F7DF1E;
    --corCSharp: #67217A;
    /*Ver quais fontes são realmente necessárias*/
    --fonte1: 'Bahnschrift', sans-serif;
    --fonte2: 'Nova Mono', monospace;
    --fonte3: 'Share Tech Mono', monospace;
    --fonte4: 'Philosopher', sans-serif;
    --fonte5: 'Playball', cursive;
    --fonte6: 'Syne Mono', monospace;
}

/*Area de reação 1*/
.formato-16d9{
    --position-left-btn-seletor-1: 0.4vw;
    --position-left-btn-seletor-2: 16.8vw;
    --position-left-btn-seletor-3: 33.1vw;
    --position-left-btn-seletor-4: 49.5vw;
    --position-left-btn-seletor-5: 65.9vw;
    --position-left-btn-seletor-6: 82.3vw;
    --position-h2-btn-nav-bottom: 2.8vh;
    --position-img-codewars-left: 0vw;
    --position-HC-btn-left: 0.15vw;
    --position-react-btn-left: 82.6vw;
    --position-main-btn-html-p-left: 1vw;
    --position-div-css: 150vh;
    --position-div-texto-css: 161vh;

    --width-nav: 98.6vw;
    --width-header: 96.7vw;
    --width-navegador: 98.6vw;
    --width-section: 96.8vw;
    --width-footer: 98.6vw;
}

.formato-4d3 {
    --position-left-btn-seletor-1: 0.4vw;
    --position-left-btn-seletor-2: 16.8vw;
    --position-left-btn-seletor-3: 33.1vw;
    --position-left-btn-seletor-4: 49.4vw;
    --position-left-btn-seletor-5: 65.6vw;
    --position-left-btn-seletor-6: 81.9vw;
    --position-h2-btn-nav-bottom: 2.5vh;
    --position-img-codewars-left: -10vw;
    --position-HC-btn-left: 0.1vw;
    --position-react-btn-left: 82.3vw;
    --position-main-btn-html-p-left: 2.5vw;
    --position-div-css: 155vh;
    --position-div-texto-css: 166vh;

    --width-nav: 98.2vw;
    --width-header: 96vw;
    --width-navegador: 98.2vw;
    --width-section: 96.4vw;
    --width-footer: 98.2vw;
}

body {
    color: black;
    background-color: var(--cor3);
    text-align: center;
    margin: 0vh;
}

/**Navegador**/ /*Revisado - 18/06/22*/
nav {
    position: absolute;
    top: 0vh;
    background-color: var(--cor1);
    font-family: var(--fonte3);
    height: 6vh;
    width: var(--width-nav);
    columns: 6;
}

nav > a > button {
    top: 0.5vh;
    background-color: var(--cor1);
    color: whitesmoke;
    font-family: var(--fonte6);
    text-shadow: 0.5px 0.5px 5px black;
    height: 5vh;
    width: 16vw;
    border: 0.4vh solid var(--cor6);
    border-radius: 1vh;
    box-shadow: 0px 0px 3px black;
}

nav > a > button:hover{
    box-shadow: 0px 0px 3px whitesmoke;
}

nav > a > button > h2 {
    position: relative;
    bottom: var(--position-h2-btn-nav-bottom);
}

.seletor-1 {
    position: absolute;
    left:var(--position-left-btn-seletor-1);
}

.seletor-2 {
    position: absolute;
    left: var(--position-left-btn-seletor-2);
}

.seletor-3 {
    position: absolute;
    left: var(--position-left-btn-seletor-3);
}

.seletor-4 {
    position: absolute;
    left: var(--position-left-btn-seletor-4);
}

.seletor-5 {
    position: absolute;
    left: var(--position-left-btn-seletor-5);
}

.seletor-6 {
    position: absolute;
    left: var(--position-left-btn-seletor-6);
}

/*Cabeçalho*/ /*Revisado 18/06/22*/
header {
    position: absolute;
    top: 6.2vh;
    background-color: whitesmoke;
    font-family: var(--fonte1);
    font-size: 0.9em;
    height: 45vh;
    width: var(--width-header);
    padding: 0.5vh 0.5vw;
    border: 1vh solid var(--cor1);
}

.introducao {
    text-align: left;
    columns: 3;
    height: 25vh;
    padding: 0.5vh 0.5vw;
}

.redes-contatos {
    position: relative;
    bottom: 3vh;
    color: var(--cor1);
    font-family: var(--fonte6);
    font-size: 1em;
    text-align: left;
    text-shadow: 0.5px 0.5px 0.5px black;
}

header > hr {
    position: relative;
    bottom: 4vh;
}

.redes {
    position: absolute;
    bottom: 0vh;
    text-align: left;
    height: 4vh;
    columns: 5;
}

.redes > div {
    width: 17.5vw;
}

header > div > div > a {
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

header > div > div > a:visited {
    color: black;
}

header > div > div > a:hover {
    color: black;
    text-shadow: 0.5px 0.5px 0.5px var(--cor2);
}

.codewars {
    position: relative;
    left: var(--position-img-codewars-left);
}

.codewars > a > img:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1vh;
    box-shadow: 0px 0px 5px black;
}

/*OLHAR - 06/22*/
#titulo-principal {
    color: var(--cor1);
    font-family: var(--fonte6);
    text-shadow: 0.5px 0.5px 0.5px black;
}

.foto-pessoal {
    position: relative;
    bottom: 5vh;
    text-align: center;
}

.sobre {
    color: var(--cor1);
    font-family: var(--fonte6);
    font-size: 1em;
    text-align: left;
    text-shadow: 0.5px 0.5px 0.5px black;
}


/*Area de reação 2*/
.selecao-html-css {
    --background-selecao-HC: var(--cor2);
    --background-selecao-JS: var(--cor3);
    --background-selecao-csharp: var(--cor3);
    --background-selecao-sql: var(--cor3);
    --background-selecao-python: var(--cor3);
    --background-selecao-react: var(--cor3);

    --height-selecao-HC: 8vh;
    --height-selecao-JS: 6vh;
    --height-selecao-csharp: 6vh;
    --height-selecao-sql: 6vh;
    --height-selecao-python: 6vh;
    --height-selecao-react: 6vh;

    --bdr-selecao-HC: 0.5vh solid var(--cor3);
    --bdr-selecao-JS: none;
    --bdr-selecao-csharp: none;
    --bdr-selecao-sql: none;
    --bdr-selecao-python: none;
    --bdr-selecao-react: none;

    --bdr-rad-selecao-HC: 1vh 1vh 0vh 0vh;
    --bdr-rad-selecao-JS: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-csharp: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-sql: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-python: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-react: 1vh 1vh 1vh 1vh;
}

.selecao-js {
    --background-selecao-HC: var(--cor3);
    --background-selecao-JS: var(--cor2);
    --background-selecao-csharp: var(--cor3);
    --background-selecao-sql: var(--cor3);
    --background-selecao-python: var(--cor3);
    --background-selecao-react: var(--cor3);

    --height-selecao-HC: 6vh;
    --height-selecao-JS: 8vh;
    --height-selecao-csharp: 6vh;
    --height-selecao-sql: 6vh;
    --height-selecao-python: 6vh;
    --height-selecao-react: 6vh;

    --bdr-selecao-HC: none;
    --bdr-selecao-JS: 0.5vh solid var(--cor3);
    --bdr-selecao-csharp: none;
    --bdr-selecao-sql: none;
    --bdr-selecao-python: none;
    --bdr-selecao-react: none;

    --bdr-rad-selecao-HC: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-JS: 1vh 1vh 0vh 0vh;
    --bdr-rad-selecao-csharp: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-sql: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-python: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-react: 1vh 1vh 1vh 1vh;
}

.selecao-csharp {
    --background-selecao-HC: var(--cor3);
    --background-selecao-JS: var(--cor3);
    --background-selecao-csharp: var(--cor2);
    --background-selecao-sql: var(--cor3);
    --background-selecao-python: var(--cor3);
    --background-selecao-react: var(--cor3);

    --height-selecao-HC: 6vh;
    --height-selecao-JS: 6vh;
    --height-selecao-csharp: 8vh;
    --height-selecao-sql: 6vh;
    --height-selecao-python: 6vh;
    --height-selecao-react: 6vh;

    --bdr-selecao-HC: none;
    --bdr-selecao-JS: none;
    --bdr-selecao-csharp: 0.5vh solid var(--cor3);
    --bdr-selecao-sql: none;
    --bdr-selecao-python: none;
    --bdr-selecao-react: none;

    --bdr-rad-selecao-HC: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-JS: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-csharp: 1vh 1vh 0vh 0vh;
    --bdr-rad-selecao-sql: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-python: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-react: 1vh 1vh 1vh 1vh;
}

.selecao-sql {
    --background-selecao-HC: var(--cor3);
    --background-selecao-JS: var(--cor3);
    --background-selecao-csharp: var(--cor3);
    --background-selecao-sql: var(--cor2);
    --background-selecao-python: var(--cor3);
    --background-selecao-react: var(--cor3);

    --height-selecao-HC: 6vh;
    --height-selecao-JS: 6vh;
    --height-selecao-csharp: 6vh;
    --height-selecao-sql: 8vh;
    --height-selecao-python: 6vh;
    --height-selecao-react: 6vh;

    --bdr-selecao-HC: none;
    --bdr-selecao-JS: none;
    --bdr-selecao-csharp: none;
    --bdr-selecao-sql: 0.5vh solid var(--cor3);
    --bdr-selecao-python: none;
    --bdr-selecao-react: none;

    --bdr-rad-selecao-HC: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-JS: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-csharp: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-sql: 1vh 1vh 0vh 0vh;
    --bdr-rad-selecao-python: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-react: 1vh 1vh 1vh 1vh;
}

.selecao-python {
    --background-selecao-HC: var(--cor3);
    --background-selecao-JS: var(--cor3);
    --background-selecao-csharp: var(--cor3);
    --background-selecao-sql: var(--cor3);
    --background-selecao-python: var(--cor2);
    --background-selecao-react: var(--cor3);

    --height-selecao-HC: 6vh;
    --height-selecao-JS: 6vh;
    --height-selecao-csharp: 6vh;
    --height-selecao-sql: 6vh;
    --height-selecao-python: 8vh;
    --height-selecao-react: 6vh;

    --bdr-selecao-HC: none;
    --bdr-selecao-JS: none;
    --bdr-selecao-csharp: none;
    --bdr-selecao-sql: none;
    --bdr-selecao-python: 0.5vh solid var(--cor3);
    --bdr-selecao-react: none;

    --bdr-rad-selecao-HC: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-JS: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-csharp: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-sql: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-python: 1vh 1vh 0vh 0vh;
    --bdr-rad-selecao-react: 1vh 1vh 1vh 1vh;
}

.selecao-react {
    --background-selecao-HC: var(--cor3);
    --background-selecao-JS: var(--cor3);
    --background-selecao-csharp: var(--cor3);
    --background-selecao-sql: var(--cor3);
    --background-selecao-python: var(--cor3);
    --background-selecao-react: var(--cor2);

    --height-selecao-HC: 6vh;
    --height-selecao-JS: 6vh;
    --height-selecao-csharp: 6vh;
    --height-selecao-sql: 6vh;
    --height-selecao-python: 6vh;
    --height-selecao-react: 8vh;

    --bdr-selecao-HC: none;
    --bdr-selecao-JS: none;
    --bdr-selecao-csharp: none;
    --bdr-selecao-sql: none;
    --bdr-selecao-python: none;
    --bdr-selecao-react: 0.5vh solid var(--cor3);

    --bdr-rad-selecao-HC: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-JS: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-csharp: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-sql: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-python: 1vh 1vh 1vh 1vh;
    --bdr-rad-selecao-react: 1vh 1vh 0vh 0vh;
}

main {
    position: absolute;
    top: 55.2vh;
    background-color: var(--cor3);
}

/*Navegador de artigos*/
.navegador {
    position: absolute;
    background-color: var(--cor6);
    height: 7vh;
    width: var(--width-navegador);
    columns: 6;
}

.navegador > button {
    top: 0.5vh;
    font: 1.1em var(--fonte1);
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    width: 15.8vw;
}

.navegador > button > p {
    position: relative;
    bottom: 1.5vh;
}

.navegador > button > img {
    position: absolute;
    top: 0.8vh;
    left: 1vw;
}

.sele-1 {
    position: absolute;
    left: var(--position-HC-btn-left);
    background-color: var(--background-selecao-HC);
    height: var(--height-selecao-HC);
    border: var(--bdr-selecao-HC);
    border-radius: var(--bdr-rad-selecao-HC)
}

.sele-1 > p {
    position: relative;
    left: var(--position-main-btn-html-p-left);
}

.sele-1:hover {
    background-color: var(--cor2);
}

.sele-2 {
    position: absolute;
    left: 16.6vw;
    background-color: var(--background-selecao-JS);
    height: var(--height-selecao-JS);
    border: var(--bdr-selecao-JS);
    border-radius: var(--bdr-rad-selecao-JS)
}

.sele-2:hover {
    background-color: var(--cor2);
}

.sele-3 {
    position: absolute;
    left: 33vw;
    background-color: var(--background-selecao-csharp);
    height: var(--height-selecao-csharp);
    border: var(--bdr-selecao-csharp);
    border-radius: var(--bdr-rad-selecao-csharp)
}

.sele-3:hover {
    background-color: var(--cor2);
}

.sele-4 {
    position: absolute;
    left: 49.5vw;
    background-color: var(--background-selecao-sql);
    height: var(--height-selecao-sql);
    border: var(--bdr-selecao-sql);
    border-radius: var(--bdr-rad-selecao-sql)
}

.sele-4:hover {
    background-color: var(--cor2);
}

.sele-5 {
    position: absolute;
    left: 65.9vw;
    background-color: var(--background-selecao-python);
    height: var(--height-selecao-python);
    border: var(--bdr-selecao-python);
    border-radius: var(--bdr-rad-selecao-python)
}

.sele-5:hover {
    background-color: var(--cor2);
}

.sele-6 {
    position: absolute;
    left: var(--position-react-btn-left);
    background-color: var(--background-selecao-react);
    height: var(--height-selecao-react);
    border: var(--bdr-selecao-python);
    border-radius: var(--bdr-rad-selecao-react)
}

.sele-6:hover {
    background-color: var(--cor2);
}



/**Seção de Repositorio:**//*REVISADO - 18/06/22*/
.repositorio {
    position: absolute;
    top: 8vh;
    left: 0.4vw;
    color: whitesmoke;
    font-family: var(--fonte6);
    font-size: 1.2em;
    text-align: left;
    text-shadow: 1px 1px 5px black;
    background-color: var(--cor2);
    height: 240vh;
    width: var(--width-section);
    padding: 1vh 0.5vw;
}

.html-css {
    position: absolute;
    left: 0.4vw;
    color: whitesmoke;
    font-family: var(--fonte6);
    font-size: 1.2em;
    text-align: left;
    text-shadow: 1px 1px 5px black;
    background-color: var(--cor2);
    height: 240vh;
    padding: 1vh 0.5vw;
}

.html {
    position: absolute;
    top: 3vh;
    left: 2vw;
    height: 140vh;
    width: 45.4vw;
}

.css {
    position: absolute;
    top: var(--position-div-css);
    left: 2vw;
    height: 60vh;
    width: 45.4vw
}

.texto-html {
    position: absolute;
    top: 13vh;
    right: 2vw;
    background-color: whitesmoke;
    font-family: var(--fonte1);
    color: black;
    text-shadow: none;
    height: 130vh;
    width: 43.4vw;
    padding: 2vh 1vw;
    border: 0.5vh solid var(--corHTML);
    border-radius: 2vh 1vw;
}

.texto-css {
    position: absolute;
    top: var(--position-div-texto-css);
    right: 2vw;
    background-color: whitesmoke;
    font-family: var(--fonte1);
    color: black;
    text-shadow: none;
    height: 60vh;
    width: 43.4vw;
    padding: 2vh 1vw;
    border: 0.5vh solid var(--corCSS);
    border-radius: 2vh 1vw;
}

.html > ol > ul > li > a{
    color: var(--corHTML);
}

.html > ol > ul > li > a:hover{
    color: black;
}

.html > ol > ul > li > a:visited {
    color: var(--cor3);
}

.html > ol > ul > li > a:visited:hover {
    color: black;
}

.css > ol > ul > li > a{
    color: var(--corCSS);
}

.css > ol > ul > li > a:hover{
    color: black;
}

.css > ol > ul > li > a:visited {
    color: var(--cor3);
}

.css > ol > ul > li > a:visited:hover {
    color: black;
}

/*ARTIGOS*/
.js > a > img {
    position: absolute;
    top: 45.5vh;
    left: 4vw;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px black;
    border: 5px solid var(--cor6);
    border-radius: 10px;
}

article.python > a > img {
    position: absolute;
    top: 76vh;
    left: 4vw;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px black;
    border: 5px solid var(--cor6);
    border-radius: 10px;
}

article.csharp > a > img {
    position: absolute;
    top: 15vh;
    right: 4vw;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px black;
    border: 5px solid var(--cor6);
    border-radius: 10px;
}

article.sqlserver > a > img {
    position: absolute;
    top: 45.5vh;
    right: 4vw;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px black;
    border: 5px solid var(--cor6);
    border-radius: 10px;
}

article.react > a > img {
    position: absolute;
    top: 76vh;
    right: 4vw;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px black;
    border: 5px solid var(--cor6);
    border-radius: 10px;
}

footer {
    position: absolute;
    top: 306.2vh;
    left: 0vw;
    height: 5vh;
    width: var(--width-footer);
    background-color: var(--cor1);
    font-family: var(--fonte2);
    padding: 1vh 0vw;
    margin: 0vh 0vw;
}

footer > a {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

footer > a:visited {
    color: black;
}

footer > a:hover {
    color: black;
    text-shadow: 0.5px 0.5px 0.5px var(--cor2);
}
