@charset "UTF-8";
body {
    color: azure;
    background-color: rgb(40, 60, 110);
    font-family: 'bahnschrift';
    text-align: center;
}

h1 {
    font-style: inherit;
}

li {
    color: rgb(230, 230, 255);
    text-align: start;
}

a {
    color: black;
}